---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Hi, I'm Vishwas, a Software Engineering Student @ UTS.
        <br />
        My primary tools of choice includes:
      </p>
      <ul class="list-disc list-inside">
        <li>Docker</li>
        <li>Linux</li>
        <li>Python</li>
        <li>Astro</li>
        <li>Bash</li>
        <li>DevContainers</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      Beyond coding, I'm passionate about open source software, UI design and devops.
      Some hobbies of mine are reading comics and building gunpla, they're
      interesting read and make.
    </p>
    <p class="text-sm font-light">
      While I have some preferred tools, I love trying out new things for the
      job, even if it's not on my usual list. My goal is to find the right
      solution for each project.
    </p>
  </div>
</Card>
